body{
    background-color: lightblue;
}
h1{
    background-color:rgb(247, 156, 123);
    width:450px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px auto;
    margin-top:50px;
}
#container{
    font-family:Arial, sans-serif;
    text-align:center;
    font-size: 2rem; 
    align-items:center;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius:10px;
    border:none;
    background-color:rgb(0, 98, 255);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color:rgb(65, 131, 238);
}
button:active{
    background-color:rgb(173, 202, 249);
}
#totalValueDisplay{
    background-color: white;
    width: 270px;
    height: 0px;
    align-items:center;
    display:flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid lightblue
}

input{
    font-size: 2rem;
    width:125px;
    text-align:center;
    font-weight:bold;
}
img{
    width:150px;
    border-radius:15px;
    margin:10px;
}
